<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>snek</title>
    <style>
        body{
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        canvas{
            background-color: white;

        }
    </style>
</head>
<body>
    <canvas id='game' width="600" height="500"></canvas>
    <script src="/static/index.js"></script>
    
</body>
</html>